<h2>Select Shape</h2>

<ul>
    <li><a asp-controller="Geometry" asp-action="Square">Square</a></li>
    <li><a asp-controller="Geometry" asp-action="Rectangle">Rectangle</a></li>
    <li><a asp-controller="Geometry" asp-action="Circle">Circle</a></li>
</ul>
